@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
}
/* 
.body{
} */
/* 
.body{
  transform: rotate(90deg);
  transform-origin: right top;
    width: 100vh;
    /* overflow-y: hidden;
    overflow-x: scroll; */
    /* height: 100vw;
    /* overflow-x: hidden; */
   /*position: absolute;
    top: 100%;
    left: 0; */


.dummy{
  min-height: 1200vh;
  /* min-height: 5000vh; */
}
/* 
html.lenis, html.lenis body {
  height: auto;
} */
/* 
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
} */
/* 
.lenis.lenis-smooth iframe {
  pointer-events: none;
} */

/* html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}




.scroll{
  scroll-snap-align: center;
  } */

body {
  background-color: #0f2c49;
  overflow-x: hidden;
}

section{
  height: 100vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  color: white;
  text-align: center;
  max-width: 70vw;
  z-index: 5;
  font-size: 1.4em;
  margin-top: 3em;
  max-width: 700px;
}
.heading h1 {
  text-transform: uppercase;
}

.instruAbout{
  position: fixed;
  max-width: 35vw;
  left: 25%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  /* backdrop-filter: blur(1em); */
  font-size: 1.2em;
  opacity: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.instruAbout h2{
  color: white;
  font-size: 2.5rem;
}

.reach {
  color: white;
  position: fixed;
  top: 50%;
  width: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  opacity: 0;
  overflow-x: hidden;
}

.reach > div{
  width: fit-content;
  display: flex;
  left: 0;
  gap :19em;
  justify-content: center;
}

.reach span{
  font-size: 1.5em;
}

.design{
  color: white;
  position: fixed;
  top: 50%;
  width: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  opacity: 0;
  overflow-x: hidden;
}


.design > div{
  width: fit-content;
  display: flex;
  left: 0;
  gap :19em;
  justify-content: center;
}

.design span{
  font-size: 1.5em;
}

.logo{
  z-index: 5;
  font-family: "Orbitron", sans-serif;
  position: fixed;
  left: 50%;
  width: 100vw;
  bottom: 10%;
  text-align: center;
  background-color: #0f2c49;
  transform: translateX(-50%);
}

.logo h1{
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 7em;
  color: #F05223;
}

.logo h1 span{
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}

/* #sec1 {
  background-color: rgba(119, 144, 166, 0.3);
}
#sec2 {
  background-color: rgba(119, 166, 147, 0.3);
}
#sec3 {
  background-color: rgba(166, 144, 119, 0.3);
  height: 30vh;
} */

#sec2{
  text-transform: uppercase;
  position: fixed;
  bottom: 30px;
  left: 0;
  color: #fff;
  font-size: 2em;
  width: 100vw;
  height: fit-content;
  display: inline;
  text-align: center;

}

.sec2{
  opacity: 0;
}

#sec2 span{
  font-size: 1.7em;
}


.webgl {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}



/* #transitionButton {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  z-index: 10;
} */

/* .gear0{
} */
.gear1{
  opacity: 0;
}
.gear2{
  opacity: 0;
}
.gear3{
  opacity: 0;
}
.gear4{
  opacity: 0;
}
.gear5{
  opacity: 0;
}
.gear6{
  opacity: 0;
}
.gear7{
  opacity: 0;
}

/* .pressureMat {
  background-color: rgba(0, 0, 0,0.1);
  height: 16%;
  border: 1px solid red;
  width: 100%;
} */

/* .pressureImages {
  
} */

.gear0{
  height: 70vh;
}

.pressureDivs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  gap: 5em;

}


.shutter {
  height: 100vh;
  width: 100vw;
  background-color: #F05223;
  object-fit: cover;
  z-index: 30;
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  left: 0;
}

.pressureDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.pressureDivs {
  z-index: 20;
}



.pressureMat {
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.temeratureDivs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* gap: 8em; */

}


.temeratureDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.temperatureMat{
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}





.flowDivs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* gap: 8em; */

}


.flowDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.flowMat{
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}



.samplePreparationDivs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* gap: 8em; */

}


.samplePreparationDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.sampleMat{
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.superCriticleDivs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* gap: 8em; */

}


.superCriticleDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.superCriticleMat{
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}




.heatExchangeDivs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* gap: 8em; */

}


.heatExchangeDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.heatExchangeMat{
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}




.applicationDivs{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* gap: 8em; */

}


.main{
  pointer-events: none;
}

.applicationDivs #line{
  height: 100vh;
  border: 3px solid rgba(255, 255, 255, 0.44);
}

.applicationMat{
  color: white;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gear{
  pointer-events: none;
}

.divs .mat:hover{
  transform: scale(1.2);
}


.divs .mat{
  transform: scale(1);
  transition: transform 0.4s;
}


.triggerSceneChange{
  height: 10vh;
  /* background-color: rgba(195, 21, 21, 0.46); */
}
/*

@media screen and (max-width: 800px) {
  :root{
    font-size: smaller;
  }

  .heading{
    padding: 0 30px;
  }

  .reach{
    font-size: 1.6em;
  }

  .design{
    font-size: 1.6em;
    padding-left: 30px;
  }

  .logo{
    font-size: 0.9rem;
  }

  .pressureDivs,.flowDivs, .temeratureDivs, .applicationDivs, .heatExchangeDivs,  .samplePreparationDivs{
    width: 100vw;
    gap: 0.1em;
  }

  .pressureMat, .flowMat, .temperatureMat, .applicationMat, .heatExchangeMat, .sampleMat{
    width: 30%;
  }

  :is(.pressureMat, .flowMat, .temperatureMat, .applicationMat, .heatExchangeMat, .superCriticleMat, .sampleMat) a{
    display: inline-block;
    width: 100%;
  }

  :is(.pressureMat, .flowMat, .temperatureMat, .applicationMat, .heatExchangeMat, .superCriticleMat, .sampleMat) img{
    width: 100%;
    object-fit: contain;
  }
}


@media screen and (max-width:600px) {
  :root{
    font-size: 0.7rem;
  }

  .instruAbout{
    width: 100vw;
    left: 0;
    top: 10%;
    transform: translate(0,0);
    max-width: none;
    padding: 0 30px;
  }

  .reach{
    top: 0;
    left: 0;
    transform: translate(0,0);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
  }

  .design{
    top: 0;
    left: 0;
    transform: translate(0,0);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    /* padding-top: 180px; 
    gap: 24em;
  }

  #sec2{
    height: fit-content;
    bottom: 150px;
    padding: 0 10px;
  }

  .dummy{
    min-height: 300vh;
    
  }

  #sec3{
    height: fit-content;
  }



  .logo{
    height: fit-content;
    width: 100vw;
    /* height: 100vh; 
    left: 50%;
    bottom: 100px;
    /* top: 0; 
    /* transform: translateX(0); 
    font-size: 0.7rem;
  }
}*/